header{
    background: #a50000; /*cor de fundo, header é o cabeçalho*/
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px; /*determina uma largura */
    margin: 0 auto; /*espaçamento externo pra cima e baixo= zero e a esquerda e direita seja automatica*/
}

nav {
    position: absolute;/*pode posicionar qualquer elemento de acordo com elemento pai que tenha um position diferente*/
    top: 110px; /*fica ao topo */
    right: 0; /*copm mais essa, topo a direita*/
}

nav li{  /*nav vem de navegação, onde estao nossas ancoras, li pq vão afetar todos itens da lista*/
    display: inline; /*fica com menu um ao lado do outro*/
    margin:  0 0 0 15px; /*espaçamento nessa ordem, primeiro topo / segundo doreita/ terceiro para baixo /quarto para a esquerda, notar tb que ele aumenta ou diminui proporcialmente devido tamanho do pixel(px) */
 }

 nav a{
    text-transform: uppercase; /*transforma todas ancoras que estao em maiúculas*/
    color: #000000;
    font-weight: bold;/*deixa a fonte com peso, negrito*/
    font-size: 22px; /*tamanho da font das letras nav a*/
    text-decoration: none; /*tirou o sublinhado, deixou sem nenhuma decoração, a decoração é que deixa o texto sublinhado*/
}
nav a:hover{ /*mapeamento, defineo comportamnetto do mouse quando esta no link "a" dntro do nav*/
    color: midnightblue;
    text-decoration: underline;/*estilo sublinhado voltar*/

}

.todo-corpo{
  background: #d40000;
}

 .deveres{
    width: 940px; /*determina uma largura */
    margin: 0 auto;
    padding: 60px 0;
    
    
 }

 .deveres li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%; /*margim de zero pra cima e para baixo e 15% para os lados*/
    padding: 30px 20px; /*se adicionasrmos somente esse comando de wespaçamento interno ele automaticamente vai sobar com a borda e aumentar tudo, quebrando assim o bloco, para isso e adicionado box-sizing=border-box que ele fará p calculo dentro do que padding*/
    box-sizing: border-box; /*descriçao acima*/
    border: 2px solid #000000;/*descrição abaixo*/
    /*border-color: #000000 ; define a cor da borda*/
    /*border-width: 2px; define o tamanho*/
    /*border-style: solid ;define o estilo da borda*/
    border-radius: 10px; /*arredonda a borada proporcional*/
 }
 .deveres li:hover{
    border-color:  rgb(10, 10, 238);/*muda a cor da borda quando mouse passa pelo item*/
 }
 .deveres li:active{
    border-color: goldenrod; /*muda a cor da borda quando estou com click pressionado*/
 }
 .deveres li:hover h2{ /* quando mouse passar por cima do h2, dentro do li na classe deveres fique com a fonte estipulada font-size: 40px*/
    font-size: 34px;
 }

 .deveres h2 {
    font-size: 30px; /*mudar a fonta de h2*/
    font-size: bold; /*colocar negrito*/
 }
 .deveres-primeiro-paragrafo{
    font-size: 18px;
 }

 .deveres-segundo-paragrafo{
    font-size: 22px; /*tamanho da fonte*/
    font-weight: bold;/*peso da fonte, nesse caso negrito*/
    padding: 10px 0 0 ; /*mesma coisa 1ue margin-top: 10px; essa é a maneira simplificada*/

 }
 footer{
    text-align: center;
    background: url(rodapefundo.webp);
    padding-top: 40px;
 }
 .texto-rodape{
    font-size: 15px;
    color: white;
    padding: 15px 0 0;
 }

 /*aqui começamos a produzir o css dessa parte do curso contatos*/

 main{
   width: 940px; /*940 pixel de largura*/
   margin: 0 auto; /*zero para cima e para baixo e automatico para esquerda e direita*/
 }
 form{
   margin: 40px 0;/*40 px para cima e para baixo e zero para esquerda e para direita*/
 }

 form label{
   display: block; /*o block faz com que o label ocupe toda a linha*/
   font-size: 20px; /*tamanho da fonte*/
   margin:0 0 10px;/*margim para baixo de 10px*/

 }

form input{ /*o block faz com que o input ocupe toda a linha*/
   display: block;
   margin: 0 0 20px;
   padding: 10px 25px;/*espaçamento interno de 10px para cima e para baixoe 20px para esquerda e direita*/
   width: 50%;/*controla largura em relação a pagina*/
}















